@{
    
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>My Site's Title</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    </head>
    <body>
        <button id="btn1" name="btn1" value="button 1" />
        <button id="btn2" name="btn2" value="button 2" />
    
    </body>
</html>
